<div class="row" ng-controller="Editor as vm">
	<div class="col-sm-6">
		<div class="ph-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#people-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">{{vm.people.title}}</a>
					</div>
					<div class="collapse navbar-collapse" id="people-navbar">
						<ul class="nav navbar-nav">
							<li><a class="navbar-link">Add</a></li>
							<li><a class="navbar-link">Edit</a></li>
							<li><a class="navbar-link">Delete</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
								<ul class="dropdown-menu">
 									<li><a>Columns</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-repeat="h in vm.people.data.header">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.people.data.rows">
						<td ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#personal-events-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">{{vm.personalEvents.title}}</a>
					</div>
					<div class="collapse navbar-collapse" id="personal-events-navbar">
						<ul class="nav navbar-nav">
							<li><a class="navbar-link">Add</a></li>
							<li><a class="navbar-link">Edit</a></li>
							<li><a class="navbar-link">Delete</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
								<ul class="dropdown-menu">
 									<li><a>Columns</a></li>
 									<li><a>Event Types</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-repeat="h in vm.personalEvents.data.header">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.personalEvents.data.rows">
						<td ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="ph-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#relationships-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">{{vm.relationships.title}}</a>
					</div>
					<div class="collapse navbar-collapse" id="relationships-navbar">
						<ul class="nav navbar-nav">
							<li><a class="navbar-link">Add</a></li>
							<li><a class="navbar-link">Edit</a></li>
							<li><a class="navbar-link">Delete</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
								<ul class="dropdown-menu">
 									<li><a>Columns</a></li>
 									<li><a>Relation Types</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-repeat="h in vm.relationships.data.header">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.relationships.data.rows">
						<td ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ph-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#relationship-events-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">{{vm.relationshipEvents.title}}</a>
					</div>
					<div class="collapse navbar-collapse" id="relationship-events-navbar">
						<ul class="nav navbar-nav">
							<li><a class="navbar-link">Add</a></li>
							<li><a class="navbar-link">Edit</a></li>
							<li><a class="navbar-link">Delete</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
								<ul class="dropdown-menu">
 									<li><a>Columns</a></li>
 									<li><a>Event Types</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-repeat="h in vm.relationshipEvents.data.header">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.relationshipEvents.data.rows">
						<td ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
