.ph-document-box {
	margin: 15px;
}

.ph-workspace {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ph-panel {
	margin-bottom: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #555555;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 10px 0;
  text-align: center;
}
